<div class="container" >
  <div class="d-flex justify-content-between mt-3 py-4">
    <h1>Students</h1>
    <%= render partial: "shared/student_searchbar" %>
   </div>



<div class="cards" >
  <%= link_to new_student_path, class: 'card-hover' do %>
    <div class="student-card card-hover add-new-card height-120">
      <i class="pink-color fas fa-plus-circle"> </i>
    </div>
  <% end %>

  <% @students.each do |student| %>
    <%= link_to student_path(student), class: 'card-hover' do %>
      <div class="student-card">
        <div class="d-flex">
          <div class="mt-1 position-relative">
            <% if student.avatar.attached? %>
              <%= cl_image_tag student.avatar.key, class: "avatar" %>
            <% else %>
              avatar
            <% end %>

            <div class="sm-icon">
              <%#= link_to  edit, class: 'card-link' do %>

              <i class="fas fa-pen"></i>

            </div>
          </div>

          <div class="pl-4">
            <h5 class="mt-1 mb-1"><%= student.first_name  %> </h5>
            <p class="mt-3 mb-0 sm-card-frame"><%= student.skill_level %> </p>
          </div>
        </div>

      </div>
      <% end %>
  <% end %>
</div>

</div>




