<div class="container">
<div class="student-form">
  <div class="container">
    <h1>Add your new student</h1>
    <%= simple_form_for @student,
      wrapper: :horizontal_form,
      wrapper_mappings: {
        file:          :horizontal_file,
        radio_buttons: :horizontal_collection
      } do |f| %>
      <div class="input-bottom-margin">
        <%= f.input :first_name, input_html: { class: 'rounded-input-field' } %>
      </div>

      <div class="input-bottom-margin">
        <%= f.input :last_name, input_html: { class: 'rounded-input-field' } %>
      </div>

      <div class="input-bottom-margin">
        <%= f.input :skill_level, :collection => %w[ Beginner Intermediate Advanced ], input_html: { class: 'rounded-input-field' } %>
      </div>

      <!--- Radio Buttons for additional chord info should only be displayed once chord model actually can store that info
      <div class="input-bottom-margin">
      skill_level needs to be changed to chord_display:
        <%#= f.input :skill_level, as: :radio_buttons, :collection => %w[ Letters Diagrams ] , wrapper: :horizontal_collection_inline %>
      </div>

      <div class="input-bottom-margin">
      skill_level needs to be changed to chord_inversion:
        <%#= f.input :skill_level, as: :radio_buttons, wrapper: :horizontal_collection_inline %>
      </div>
      --->
      <div class="d-flex">
        <div class="input-bottom-margin">
          <label for="student_avatar">Avatar</label>
        </div>

        <input class="file-optional" type="file" name="student[avatar]" id="student_avatar" data-multiple-caption="{count} files selected" multiple >
        <label for="student_avatar" class="btn-camel-border">Choose an avatar</label>

        <div id="avatar-text">

        </div>
      </div>


      <!-- <div class="input-bottom-margin"> -->
        <%#= f.input :avatar, as: :file %>
      <!-- </div> -->

      <%= f.submit 'Add Student', class:"btn-camel input-bottom-margin" %>
    <% end %>
  </div>
</div>
</div>
