<div class="d-flex" data-controller="student-page">
  <div class="side-navbar d-flex flex-column">
    <div class="d-flex flex-column">
      <div class="d-flex flex-column justify-content-center text-center pt-4 pb-4">
        <div class="pb-4">
          <%= cl_image_tag @student.avatar.key,
          class: "avatar-xl", crop: :lfill, height: 500, width: 500, gravity: :face %>
        </div>
        <h2><%= @student.first_name %> <%= @student.last_name %></h2>
        <div class="skill-level-badge">
          <%= @student.skill_level %>
        </div>
      </div>
      <div class="d-flex justify-content-around" id="song-lesson-nav">
        <h4 data-target="student-page.songs" data-action="click->student-page#selectSongs" class="selected-item">
          Songs
        </h4>
        <h4 data-target="student-page.lessons" data-action="click->student-page#selectLessons">
          Lessons
        </h4>
      </div>
    </div>

    <div id="sidebar-songs" data-target="student-page.songsContent">
      <!-- Trigger Button for Library Songs Modal -->
        <div class="text-center py-4">
          <button type="button" class="btn-camel" id="add-song-button" data-toggle="modal" data-target="#exampleModal">
            Add Song
          </button>
        </div>

      <!-- Library Songs Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content" style="height:90vh">
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">Song Library</h4>
                  <button type="button" class="close" data-dismiss="modal" id="close-x" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <!-- <div class="modal-body"> -->

                  <!-- This is good: -->
                  <div class="search-on-modal" id="search-bar">
                    <%= form_tag student_path(@student), method: :get, class:"search-container" do %>
                    <div class="position-relative">
                      <%= text_field_tag :query,
                        params[:query],
                        id: "search-bar",
                        placeholder: "Search for song..."
                      %>

                      <%= button_tag type: 'submit', data: { :reload_song_modal => "" }, class: "btn-search" do %>
                        <i class="fas fa-search"></i>
                      <% end %>
                    </div>
                    <% end %>
                  </div>


                  <!-- Song List -->
                  <!-- This is good except for the label -->
                <div class="overflow-auto" style="padding-top: 24px; padding-right: 8px; padding-left: 8px">
                  <%= link_to new_song_path do %>
                    <div class="song-card-student-page mb-3">
                      <i class="add-new-card fas fa-plus-circle"> </i>
                    </div>
                  <% end %>
                  <%= simple_form_for(:create_student_song, url: create_student_song_path(@student)) do |f| %>

                    <% @songs.each do |song| %>
                      <div class="form-check d-flex song-card-student-page mb-3 position-relative">
                        <input class="form-check-input check_boxes required" type="checkbox" value="<%= "#{song.id}" %>" name="songs[]" id="<%= "create_student_song_for_song_#{song.id}" %>" style="display: none">

                        <% if @student_songs == [] %>
                          <label class="form-check-label collection_check_boxes" for="<%= "create_student_song_for_song_#{song.id}" %>" style="width:100%">
                        <% else %>
                          <% @student_songs.each do |student_song| %>
                            <% if student_song.song.id == song.id %>
                              <label class="form-check-label collection_check_boxes" for="<%= "create_student_song_for_song_#{song.id}" %>" style="width:100%; opacity:0.5">
                            <% else %>
                              <label class="form-check-label collection_check_boxes" for="<%= "create_student_song_for_song_#{song.id}" %>" style="width:100%">
                            <% end %>
                          <% end %>
                        <% end %>

                            <div class="d-flex justify-content-between align-items-center mb-2">
                              <h5><%= song.name %></h5>
                              <div class= "skill-level-badge">
                                <%= song.skill_level.capitalize %>
                              </div>
                            </div>

                            <div>
                              <%= song.description %>
                            </div>

                          </label>
                      </div>
                    <% end %>

                    <!-- This is good: -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-ghost" id="close-button" data-dismiss="modal">Close</button>
                      <%= f.submit "Add to #{@student.first_name}'s Page", class:"btn-camel input-bottom-margin" %>
                    </div>

                  <% end %>
                </div>


              </div>
            </div>
          </div>
<!--      <%#= link_to songs_path do %>
            <i class="fas fa-compact-disc"></i>
          <#% end %>
          <i class="far fa-edit"></i>
          <i class="far fa-clone"></i>
          <%#= link_to student_song_path(@student, :student_song_id => 6),
          controller: 'student_songs', data: { confirm: 'Are you sure?'}, method: :delete do %>
            <i class="far fa-trash-alt"></i>
          <%# end %> -->
          <!-- <%#= f.input :lesson_id, input_html: { value: '1' }, type: "hidden" %> -->

        <!-- </div> -->

        <% unless @student_songs == [] %>
          <div class="nav flex-column nav-pills song-list text-center m-3" id="v-pills-tab" data-target="student-page.songsList" role="tablist" aria-orientation="vertical">
              <% @student_songs.each do |student_song| %>
              <div class="d-flex justify-content-between nav-link" id="<%= "v-pills-#{student_song.id}-tab" %>" data-toggle="pill" href="#<%= "v-pills-#{student_song.id}" %>" role="tab" aria-controls="<%= "v-pills-#{student_song.id}" %>" aria-selected="true">
                <a><%= student_song.song.name %></a>
                  <%= link_to student_song_path(@student, student_song), controller: 'student_songs', data: { confirm: 'Are you sure you want to remove this song from this student page?'}, method: :delete do %>
                  <i class="far fa-trash-alt"></i>
                  <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>

    <div id="sidebar-lessons" data-target="student-page.lessonsContent" style="display:none">
      <div class="text-center py-4">
        <%= button_to "Add Lesson", new_lesson_path, class: "btn-camel" %>
      </div>
    </div>
  </div>

  <div class="right-side-container d-flex flex-column align-items-center">

    <div class="" id="right-side-container-songs" data-target="student-page.SongRightSide">
      <div class="tab-content" id="v-pills-tabContent" data-target="student-page.songListRightSide">
        <% @student_songs.each do |student_song| %>
        <div class="tab-pane fade show" id="<%= "v-pills-#{student_song.id}" %>" role="tabpanel" aria-labelledby="<%= "v-pills-#{student_song.id}-tab" %>">
          <div class="container">
            <%= render html: student_song.song.html.html_safe %>
          </div>
        </div>
        <% end %>
      </div>
    </div>

    <div id="right-side-container-lessons" data-target="student-page.allLessonsRightSide" style="display:none">
      <% @lessons.each do |lesson| %>
        <div class="d-flex flex-column lesson-card-student-page">
          <div class="d-flex justify-content-between pb-3">
            <div class="d-flex justify-content-start">
              <div class="pr-4">
                <h5><%= lesson.date.strftime("%A, %b %e") %></h5>
              </div>
              <div>
                <strong><%= lesson.start_time.strftime(" %l:%M %p") %></strong> - <%= (lesson.start_time + lesson.duration*60).strftime(" %l:%M %p") %>
              </div>
            </div>
            <div class="d-flex">
              <%= link_to "" do %>
              <i class="far fa-edit pl-2"></i>
              <% end %>
              <%= link_to student_lesson_path(@student, lesson), controller: 'lessons', data: { confirm: 'Are you sure you want to delete this lesson?'}, method: :delete do %>
                <i class="far fa-trash-alt pl-2"></i>
                <% end %>
            </div>
          </div>

          <div class="note-content" id="note">
            <% if lesson.note.blank? %>
              <%= simple_form_for( [lesson, @note], remote: true) do |f| %>
                <div class="note-content mt-3">
                  <%= f.input :content, as: :text, label: false %>
                  <%= f.submit 'Add notes', class:"btn-camel" %>
                </div>
              <% end %>
            <% else %>
               <div id="note-<%= lesson.note.id %>"> <%= lesson.note.content %></div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

  </div>

</div>

