
<%= simple_form_for @song, html: { class: "d-flex justify-content-between align-items-end mt-0", "data-method": "post", id: "new-song-form"} do |f| %>

  <input id="song-title" type="text" placeholder="Song Title" class="mb-0 flex-grow-1">
  <%=f.hidden_field :name, value:'song2', id:'song-name' %>
  <%=f.hidden_field :html, value: 'some html', id:'song-html' %>
  <%= f.input :skill_level, collection: ['Beginner', 'Intermediate', 'Advanced'], default: 'Beginner', label: false, input_html: {class: 'level-select'}, label_html: {class: 'level-label'} %>
  <div id="add-line-btn" class='btn-sm btn-slate-grey'>Add Line
  </div>
     <!-- <input id='save-song-btn' type='submit' class='btn-sm btn-camel mt-4' value='Save Song'> -->
    <%= f.submit "Save Song", class: "btn-sm btn-slate-grey", id: "save-song-btn" %>
<% end %>
