<div class="container song-library-identifier" >
  <div class="d-flex justify-content-between mt-3 py-4">
    <h1>Song Library</h1>
    <%= render partial: "shared/song_searchbar" %>
  </div>

  <div class="cards justify-content-between" >
    <%= link_to new_song_path do %>
      <div class="song-card justify-content-center align-items-center">
        <i class="add-new-card fas fa-plus-circle"> </i>
      </div>
    <% end %>
  <% @songs.each do |song| %>
    <div class="song-card ">
      <div class="card-body">
        <%= link_to song_path(song) do %>
          <h5 class="card-title mt-3"><%= song.name %></h5>
          <p class="card-text less-opacity"><%= song.skill_level.capitalize %></p>
        <% end %>
        <div class="row col-auto p-1 my-1 mr-0 mml-1">
          <div class="col">
          <%= link_to edit_song_path(song) do %>
            <i class="small-icon fas fa-edit"></i>
          <% end %>
          </div>
          <div class="col dropdown">
            <i class="small-icon fas fa-user-plus" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
              <% Student.all.order(first_name: "asc").map.each do |student|%>
                <%= link_to "#{student.first_name} #{student.last_name}", student_songs_path(student.id, song: song), method: :post, class: "dropdown-item dropdown-student" %>
              <% end %>
            </div>
          </div>
          <div class="col ">
          <%= link_to song_path(song) do %>
            <i class="small-icon fas fa-eye"></i>
          <% end %>
          </div>
          <div class="col">
          <%#= link_to song_path(song) do %>
            <i class="small-icon far fa-trash-alt"></i>
          <%# end %>
          </div>
        </div>

      </div>
    </div>
  <% end %>
  </div>
</div>
