<div class="container" >
  <div class="d-flex justify-content-between mt-3 py-4">
    <h1>Songs</h1>
    <%= render partial: "shared/song_searchbar" %>
   </div>


<div class="cards" >
  <%= link_to new_song_path, class: 'card-hover' do %>
    <div class="song-card card-hover">
      <i class="add-new-card fas fa-plus-circle"> </i>
    </div>
  <% end %>
  <% @songs.each do |song| %>
      <%= link_to song_path(song), class: 'card-hover' do %>
      <div class="song-card">
        <div class="card-body">
          <h5 class="card-title"><%= song.name %></h5>
          <p class="card-text"><%= song.description %></p>
 
        
          <div class="row align-items-end">
            <div class="col">
              <i class="fas fa-edit"></i> 
            </div>
            <div class="col">
              <i class="fas fa-user-plus"></i>  
            </div>
            <div class="col">
              <i class="fas fa-eye"></i>
            </div>
            <div class="col">
              <i class="far fa-trash-alt"></i>
            </div>
  </div>
</div>

      </div>
      <% end %>
  <% end %>
</div>

</div>