<div class="banner">
  <div class="d-flex flex-column justify-content-between">
      <div id="home-page-title">
        <h1>rubato</h1>
        <h3>Your own custom music lessons.</h3>
        <h3>The best learning experience for your students.</h3>
      </div>

      <% if current_user %>
      <!-- <div class="greeting">
        <h5 class="pb-3">Hello, <%#= current_user.first_name  %>!</h5>
       -->  <%#= link_to "Go to your lessons", my_dashboard_path, class: "btn-camel" %>
      <!-- </div> -->
      <% else%>
      <div id="signup_form">
        <%= render "devise/shared/homepage_form" %>
      </div>
    <% end %>
  </div>
</div>


<div class="container">
  <h4 class="mini-header mb-5">Over 100 music schools are using rubato <br> to enable their teachers to teach music remotely.</h4>
  <div class="d-flex justify-content-between mb-5">
    <%= image_tag('school1.jpg', size: "90x90", alt: "customized content") %>
    <%= image_tag('school7.jpg', size: "90x90", alt: "customized content") %>
    <%= image_tag('school3.jpg', size: "100x100", alt: "customized content") %>
    <%= image_tag('school4.jpg', size: "90x90", alt: "customized content") %>
    <%= image_tag('school5.png', size: "90x90", alt: "customized content") %>
    <%= image_tag('school8.jpg', size: "90x90", alt: "customized content") %>
  </div>

  <hr>


  <h4 class="pt-5 mini-header mb-5">What our teachers around the world have to say</h4>


  <div class="cards d-flex justify-content-between">
    <div class="review-card">

      <p class="">"It does have many functions to make the work easier and more organzed. It's so easy to manage and understand that you don't need much time to learn how to use it."</p>
      <div class="review-author">
        <%= image_tag('user2_avatar.jpg', class: "avatar") %>
        <div class="review-author-name">
          <h6 class="ml-2 mt-2"><strong>Josh Meinberg</strong></h6>
          <p class="ml-2">Los Angeles</p>
        </div>
      </div>
    </div>

    <div class="review-card">

      <p class="">"I cannot say enough how thankful I am for Rubato. My productivity has increased a great deal allowing me to teach more students and grow my business thanks to it!"</p>
      <div class="review-author">
        <%= image_tag('user3_avatar.jpg', class: "avatar ") %>
        <div class="review-author-name">
          <h6 class="ml-2 mt-2"><strong>Mark Fisher</strong></h6>
          <p class="ml-2">Manchester</p>
        </div>
      </div>
    </div>

    <div class="review-card">
      <p class="">"Rubato has everything that I could need in managing my music lessons. Scheduling, sessions content, student management. Saves me time that I need for teaching."</p>
      <div class="review-author">
        <%= image_tag('user4_avatar.jpg', class: "avatar") %>
        <div class="review-author-name">
          <h6 class="ml-2 mt-2"><strong>Anne Lißner</strong></h6>
          <p class="ml-2">Berlin</p>
        </div>
      </div>
    </div>

    <div class="review-card">
      <p class="">"Rubato helped me be able to better manage my private music students and our lessons together rather than doing it in my head or on paper."</p>
      <div class="review-author">
        <%= image_tag('user5_avatar.jpg', class: "avatar") %>
        <div class="review-author-name">
          <h6 class="ml-2 mt-2"><strong>Marie Whitehouse</strong></h6>
          <p class="ml-2">Toronto</p>
        </div>
      </div>
    </div>

  </div>

  <hr>


  <div>
    <h4 class="pt-5 mini-header mb-5">Enjoy your enhanced music teaching experience</h4>
  </div>
  <div class="cards d-flex justify-content-between mb-5">
    <div class="homepage-card">
      <%= image_tag('melody.png', size: "70x70", alt: "customized content") %>
      <h5 class="mt-4">create</h5>
      <p class="mt-3">Easily build custom web content to fit each student's ability and taste</p>
    </div>

    <div class="homepage-card">
      <%= image_tag('share.png', size: "70x70", alt: "customized content") %>

      <h5 class="mt-4">connect</h5>
      <p class="mt-3">Share media with your students and other teachers</p>
    </div>

    <div class="homepage-card">
      <%= image_tag('calendar.png', size: "70x70", alt: "customized content") %>

      <h5 class="mt-4">organize</h5>
      <p class="mt-3">Set reminders for upcoming lessons and track your students' progress</p>
    </div>

  </div>
</div>

