<div class="dashboard-container">
  <div class="d-flex flex-column mb-4">
    <h1 class="pb-2">Dashboard</h1>
    <div class="d-flex justify-content-start align-items-center mb-32">
      <% if @missing_notes == 0 %>
      <div class="even-spacing">
        <i class="fas fa-check-circle dashboard-icon icon-success"></i>
      </div>
      <div class= "dashbord-alert-card flex-grow-1">Sit back and make some music. You're all set.</div>
    <% else %>
      <div class="even-spacing">
        <i class="fas fa-exclamation-circle dashboard-icon icon-warning"></i>
      </div>
      <div class= "dashbord-alert-card flex-grow-1">Remember last week? You still need to take notes of <%= pluralize @missing_notes, "past lesson" %>.</div>
    <% end %>
    </div>
  </div>

  <div class="d-flex flex-column pt-4">
    <div class="d-flex justify-content-between align-items-center">
      <h2>Lessons</h2>
      <!-- <div> -->
        <%#= link_to "See all lessons", lessons_path, class: "btn-camel" %>
      <!-- </div> -->
      <%= render partial: "shared/studentlesson_searchbar" %>
   </div>


    </div>
    <div class="d-flex justify-content-between pt-4">
      <div class="d-flex flex-column justify-content-start">
        <h3 class="pb-2">This week</h3>
        <div>
          <%= link_to new_lesson_path, class: 'card-hover' do %>
            <div class="lesson-card card-hover add-new-card">
              <i class="pink-color fas fa-plus-circle"> </i>
            </div>
          <% end %>
        </div>
        <% @this_weeks_lessons.each do |lesson| %>
        <%= link_to student_path(lesson.student), class: 'card-hover' do %>
        <div class="lesson-card">
          <div class="d-flex justify-content-between">
              <div class="mt-1 mr-4">
                <%= link_to student_path(lesson.student), class: 'card-hover' do %>
                  <% if lesson.student.avatar.attached? %>
                    <%= cl_image_tag lesson.student.avatar.key, class: "avatar" %>
                  <% else %>
                    avatar
                  <% end %>
                <% end %>
              </div>

              <div class="flex-grow-1">
                <h5 class="mt-1 mb-1"><%= lesson.date.strftime("%A, %b %e") %> </h5>
                <p class="mt-3 mb-0"><strong><%= lesson.start_time.strftime(" %l:%M %p") %></strong> - <%= (lesson.start_time + (lesson.duration)*60).strftime(" %l:%M %p") %> </p>
              </div>

              <div class="pl-4">
                <h5 class="mt-1 mb-1"> <%= lesson.student.first_name %> <%= lesson.student.last_name %></h5>
                <p class="mt-3 mb-0 sm-card-frame"><%= lesson.student.skill_level %> </p>
              </div>
            </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="d-flex flex-column justify-content-start">
        <h3 class="pb-2">Last week</h3>
        <% @last_weeks_lessons.each do |lesson| %>

        <div class="lesson-card position-relative">
          <% if lesson.note.present? %>
            <i class="fas fa-check-circle dashboard-icon icon-success position-absolute"></i>
          <% else %>
            <i class="fas fa-exclamation-circle dashboard-icon icon-warning position-absolute"></i>
          <% end %>
          <div class="d-flex justify-content-between">
            <div class="mt-1 mr-4">
              <%= link_to student_path(lesson.student), class: 'card-hover' do %>

                <% if lesson.student.avatar.attached? %>
                  <%= cl_image_tag lesson.student.avatar.key, class: "avatar" %>
                <% else %>
                  avatar
                <% end %>
              <% end %>
            </div>

            <div class="flex-grow-1">
              <h5 class="mt-1 mb-1"><%= lesson.date.strftime("%A, %b %e") %> </h5>
              <p class="mt-3 mb-0"><strong><%= lesson.start_time.strftime(" %l:%M %p") %></strong> - <%= (lesson.start_time + (lesson.duration)*60).strftime(" %l:%M %p") %> </p>
            </div>

            <div class="pl-4">
              <h5 class="mt-1 mb-1"> <%= lesson.student.first_name %> <%= lesson.student.last_name %></h5>
              <p class="mt-3 mb-0 sm-card-frame"><%= lesson.student.skill_level %> </p>
            </div>
          </div>
        <div class="note-content" id="note-<%= lesson.id %>">

          <% if lesson.note.blank? %>
            <div class="form-wrapper d-none">
              <%= simple_form_for( [lesson, @note], remote: true) do |f| %>
                <div class="mt-3">
                  <%= f.input :content, as: :text, label: false, class:"" %>
                </div>
                <div class="d-flex">
                  <%= button_tag type: 'submit', class: "cancel-btn" do %>
                    <i class="far fa-save"></i>
                  <% end %>
                  <button type="button" class="reveal-form-button d-none cancel-form"><i class="fas fa-undo"></i></button>
                </div>
              <% end %>
            </div>
            <button class="reveal-form-button">Add notes</button>
            <% else %>
              <p><%= lesson.note.content %></p>
            <% end %>
        </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
